.main-block
  height: 65vh
  justify-content: center;
  &:before
    content: ''
    position: absolute;
    background: url('/static/img/general/flowers-decor.png') no-repeat
    width: 100%
    height: 100%;
    left: 0
    bottom: 0
    z-index: 0

.main-block-content
  display: flex;
  width: 100%
  justify-content: space-around;
  height: 100%
  z-index: 99

.main-glass-slider
  width: 45%
  height: 360px
  display: flex;


.content-wrap
  display: flex;
  flex-direction: column;
  width: 45%


.main-buttons-wrap
  display: flex;
  justify-content: space-between;
  width: 93%


.buttons-wrap.row
  flex-direction: row;
  display: flex;
  align-items: center;
  &:hover .button-desc
    color: #57575a
    transition-animation()

.buttons-wrap.column
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover .button-desc
    color: #57575a
    transition-animation()



.main-heading
  Main-Title-Style()
  text-shadow: 4px 4px 4px skyblue-two;
  color: #202023
  margin-bottom: 65px

.button-desc
  Description-Text-Style()
  transition-animation()

.item-tag
  Heading-Text-Style()
  text-shadow: 4px 4px 4px #9adfff;

.items-block-content
  display: flex;
  flex-direction: column;
  width: 100%
  margin-top: 100px
  margin-bottom: 115px

.item-info-wrap
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px
  align-items:baseline;

.item-type-name
  display: flex;
  width: 23%
  align-items: center;
  justify-content: center;

.item-row
  width: 75%
  display: flex;
  justify-content: space-between;

.item-tabs
  display: flex;
  width: 15%;
  justify-content: space-between;

.item-tabs-name
  font-size: rem(20px)
  text-transform capitalize
  text-decoration: underline
  transition-animation()
  &:hover
    color: #35bbe1
    cursor: pointer;
    transition-animation()

.active-tab
  color: #35bbe1



.item-total
  display: flex;
  justify-content: space-between;

.total-text
  font-style: italic;
  color: #828284
  margin-right: 5px
  &:last-child
    margin-right: 0

.item-photo
  max-width: 23%
  position: relative;
  z-index: 99
  padding-bottom: 10px
  height: 100%

.item-tab-content
  display: none
  justify-content: space-between;
  animation: fadeEffect 1s

.item-tab-content.active
  display: flex;

.item-photo-decoration
  position: absolute;
  left: 10px
  top: 10px
  background: url('/static/img/general/item-photo-decor.png') no-repeat
  width: 100%
  height: 100%
  z-index: -1

.item-photo-decoration-second
  background: url('/static/img/general/item-photo-decor-2.png') no-repeat

.items-wrap
  display: flex;
  width: 75%
  flex-flow: wrap;


.item
  position: relative;
  width: 310px
  height: 50%
  max-width: 310px
  display: flex;
  flex-direction: column;
  padding: 0 20px
  border: 1px solid #e3e3e3
  border-collapse: collapse
  transition-animation()
  &:hover
    border: 1px solid skyblue
    transition-animation()
    cursor: pointer;
    border-collapse: collapse
    border-bottom: 1px solid transparent
  &:hover .item-action
    display: flex;
    animation: fadeEffect 0.5s
    z-index: 99
  &:hover .item-link-view
    opacity: 1
    transition-animation()

.item-explore
  border: 1px solid #e3e3e3
  align-items: center;
  justify-content: center;
  position: relative
  &:before
    height: 100%
    width: 100%
    content: ''
    position: absolute;
    left 0
    bottom: 0
    background-image: url('/static/img/general/explore-item-decor.png')
    background-repeat: no-repeat;
  &:hover
    border: 1px solid skyblue
    transition-animation()
    background: #81d7ff
  &:hover .explore-collection-link
    color: white
    transition-animation()
  &:hover:before
    background-image: url('/static/img/general/explore-item-decor-blue.png')
    background-repeat: no-repeat;
    transition-animation()

@keyframes fadeEffect{
  from {opacity: 0;}
  to {opacity: 1;}
}



.item-top
  display: flex;
  justify-content: space-between;
  margin: 35px 0
  align-items: baseline;
  font-size: 12px
  text-transform: uppercase;

.item-image
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

.item-name
  color: #79797b

.item-link-view
  color: skyblue
  text-decoration: underline;
  opacity: 0
  transition-delay()

.item-price
  margin-bottom: 35px
  display: flex
  justify-content: space-between;


.old-price
  color: #9d9d9e
  text-decoration: line-through;
  display: none;

.sales
  flex-flow: row-reverse;
  .old-price
    display: block;


.item-action
  display: flex;
  flex-flow: wrap;
  position: absolute;
  left: -1px;
  top: 100%;
  border: 1px solid skyblue;
  border-top: 1px solid transparent
  width: 100%;
  box-sizing:content-box;
  border-right: 1px solid skyblue
  display: none;
  background: white

.select-item-color
  display: flex;
  align-items:center
  flex-shrink: 1
  width: auto;
  padding: 10px 0
  margin 0 20px

.color-choice
  display: none;

.color-pick
  border-radius: 50px
  display: flex
  margin-right: 5px
  width: 28px
  height: 28px
  background: white
  border: 1px solid #edece9
  position: relative;
  cursor: pointer;
  &:after
    content: ''
    position: absolute;
    border-radius: 50px
    display: flex
    width: 15px
    height: 15px
    background: black
    top 50%
    left: 50%
    transform: translate(-50%,-50%)
    transition-animation()
    transition-delay: 0.1s

.color-choice
  &:checked + .color-pick
    border: 1px solid skyblue
    background: skyblue
    transition-animation()
    transition-delay: 0.1s

.pink
  &:after
    background: pink

.black
  &:after
    background: black

.wrap-ad-to-chart
  display: flex;
  flex-grow: 1
  width: 50%
  min-width: 50%

.explore-collection-link
  Simple-Text-Style()
  color: #26b5de
  text-transform: uppercase;
  text-decoration: underline;
  transition-animation()
  z-index: 99

.benefits-block
  height: 65vh
  justify-content: center;
  position: relative;

.story
  margin: 0 auto;
  overflow: auto;
  width: 100%;

.decortion
  width: 100%
  height: 100%
  z-index: 199
  position: absolute;

#first-decoration
  background: url('/static/img/general/Illustration-1.png')  no-repeat fixed
  background-position: 77.3%

#second-decoration
  background: url('/static/img/general/Illustration-2.png')  no-repeat fixed
  background-position: 77.4%

#third-decoration
  background: url('/static/img/general/Illustration-3.png')  no-repeat fixed
  background-position: 80.1%



.benefits-block--skyblue
  background: skyblue-two
  &:before
    content: ''
    position: absolute;
    width: 100%
    height: 100%
    z-index: 0
    background: url('/static/img/general/decor-benefit-1.png') no-repeat

.benefits-block--turquoise
  background: seacolor
  &:before
    content: ''
    position: absolute;
    height: 362px
    width: 272px
    right: 0
    bottom: 78%
    z-index: 0
    background: url('/static/img/general/decor-benefit-2.png') no-repeat

.benefits-block--creamy
  background #ffe7c9
  &:before
    content: ''
    position: absolute;
    width: 100%
    height: 100%
    z-index: 0
    background: url('/static/img/general/decor-benefit-3.png')

.benefit-section
  display: flex;
  justify-content: space-between;
  z-index: 99


.benefit-info
  display: flex;
  flex-direction: column;
  max-width: 40%

.benefit-image
  max-width 50%

.benefit-heading
  Heading-Text-Style()


.benefit-heading--pink
  text-shadow: 4px 4px 4px pink;

.benefit-heading--yellow
  text-shadow: 4px 4px 4px yellow;

.benefit-heading--blue
  text-shadow: 4px 4px 4px skyblue;

.benefit-text
  margin-top: 60px
  margin-bottom: 70px
  line-height: rem(30px)
  color: #3b484f

.constructor-block
  margin-top: 65px
  margin-bottom: 160px

.constructor-heading
  Heading-Text-Style()
  text-shadow: 4px 4px 4px skyblue-two;


.compare-glass-slider
  display: flex;
  width: 40%

.compare-slider-container
  position: relative
  height: 250px
  width: 100%

.compare-image
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid skyblue
  background-image: url('/static/img/general/arrow-comp.png');
  background-repeat: no-repeat;
  background-position: center;
  &:hover
    background: skyblue
}

.c-img
  max-width: inherit;

.text-constructor
  margin: 60px 0
  line-height: rem(30px)
  color: #343451

.button-desc--constructor
  margin-left: 35px

.instagram-content
  display: flex;
  width: 100%

.insta-topic
  margin-bottom: 20px

.insta-name
  font-size: rem(12px)
  text-transform: uppercase;
  &:after
    content: '-'
    margin: 0 3px

.insta-link
  font-size: rem(12px)
  text-transform: uppercase;
  color: #73d0ea
  text-decoration: underline;

.instagram-image
  display: flex;
  flex-grow: 1
  height: 240px
  max-width: 240px
  max-height: 240px
  position: relative;
  z-index: 99
  &:hover .insta-image-overlay
    opacity: 0.7
    transition-animation()
    transition-delay: 0.1s
    transform: scale(1)
  &:hover .insta-icon
    fill: skyblue
    stroke: skyblue
    transition-animation()
    transition-delay: 0.1s

.insta-image-overlay
  position: absolute;
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #202023
  opacity: 0
  z-index: 0
  transition-animation()

.insta-icon-overlay
  position: absolute;
  height: 100%
  width: 100%
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0


.insta-icon
  height: 30px
  width: 30px
  z-index: 0
  fill: transparent
  stroke: transparent
  transition-animation()
