footer.footer
  .subscribe-block
    .logo.logo-footer
      a(href="/")
        img.logo-img(src="./static/img/general/logo.png")
    p.logo-text.logo-text-footer Некоммерческая организация микрокредитная компания  "Фонд микрофинансирования субъектов малого и среднего предпринимательства в Ставропольском крае"
    .subscribe-text Подпишитесь на обновления
    form.form-subscribe-footer
      input(placeholder="Введите ваш e-mail").footer-input
    .btn.btn-subscribe Подписаться
    p.copyright © 2010 - 2017 microfond26.ru. Все права защищены
