footer
  .container
    .footer-content
      nav.nav.nav-footer
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Constructor
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Men
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Women
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer SHOP PARTS 
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer bRAND
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer wARRANTY
      nav.nav.nav-footer
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Constructor
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Men
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Women
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer SHOP PARTS 
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer bRAND
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer wARRANTY      
      nav.nav.nav-footer
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Constructor
        li.nav-li.nav-li-footer
          a(href='/').nav-link.nav-link-footer Men
        .socials
          span.socials-heading We are in social networks
          .social-wrap
            a.social-link(href="/")
              +icon('ic-fb','social-link-icon')
            a.social-link(href="/")
              +icon('ic-insta','social-link-icon')
            a.social-link(href="/") 
              +icon('ic-ytb','social-link-icon') 
      .newsletter-content
        span.newsletter-heading Sign up for newsletter
        form.newsletter-forms
          input.newsletter-input(placeholder="Enter your email...")
        .btn-wrap.btn-wrap--footer.btn-wrap--row.btn-wrap--pink
          button.btn.btn--pink.btn-footer  subscribe
  .footer-content-bottom
    .container
      .footer-content-bottom-wrap
        a.copyright  Copyright © 2018 Shaka'sHawaii. All rights reserved.
        .language-select
          span.flag-usd 
          a.language.language-picked USD
          .custom-option-current 
            .arrow-lang
          .custom-select.closed
            .custom-option-select
              span.flag-eng 
              a.language AUS
            .custom-option-select
              span.flag-eng 
              a.language AUS
            .custom-option-select
              span.flag-eng 
              a.language AUS
            .custom-option-select
              span.flag-eng   
              a.language AUS
            .custom-option-select
              span.flag-eng 
              a.language AUS
            .custom-option-select
              span.flag-eng 
              a.language AUS
            .custom-option-select
              span.flag-eng   
              a.language AUS
              
