header.header.wow.slideInDown(data-wow-duration="1.5s")
  .header-content
    .logo
      a(href="/")
        img.logo-img(src="./static/img/general/logo.png")
    p.logo-text Некоммерческая организация микрокредитная компания  "Фонд микрофинансирования субъектов малого и среднего предпринимательства в Ставропольском крае"
  .header-content
    a.company-number +7 (800) 100-80-26
    a.company-number +7 (800) 100-80-26
    a.company-number +7 (800) 100-80-26
    button.btn.btn-version Версия для слабовидящих
  .header-overlay
