.glass-constructor
  .container
    .glass-constructor-content
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno
        .glass-type--active.blue
          a(href=('/')).glass-type-text Design in constructor
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno 
        .glass-type--active.blue
          a(href=('/')).glass-type-text Design in constructor 
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno
        .glass-type--active.blue
          a(href=('/')).glass-type-text Design in constructor  
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno
        .glass-type--active.green
          a(href=('/')).glass-type-text Design in constructor 
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno  
        .glass-type--active.green
          a(href=('/')).glass-type-text Design in constructor 
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno 
        .glass-type--active.green
          a(href=('/')).glass-type-text Design in constructor  
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno
        .glass-type--active.dark-orange
          a(href=('/')).glass-type-text Design in constructor 
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno
        .glass-type--active.dark-orange
          a(href=('/')).glass-type-text Design in constructor   
      .glass-type
        img.glass-type-img(src="/static/img/content/ic_glasses.png")
        span.glass-type-name Bruno 
        .glass-type--active.dark-orange
          a(href=('/')).glass-type-text Design in constructor  
        
      
      
      
         
