.main-nav
  nav.navigation
    li.nav-list
      a.nav-link О фонде
    li.nav-list
      a.nav-link Виды микрозаймов
    li.nav-list
      a.nav-link Клиентам
    li.nav-list
      a.nav-link Пресс-центр
    li.nav-list
      a.nav-link Контакты
  a.search-btn 
