extends ../layout/main

block variables
	- var title = 'Main Page'
	- var pageClass = 'index-page'

block content
	include ../modules/header
	include ../modules/main-nav
	section.main-block
		.container
			.main-block-content
				.main-glass-slider
					input.range-slider(type="range" value="0" step="1" max="9")
					p.value
				.content-wrap
					h1.main-heading Design your own eyewear
					.main-buttons-wrap
						.buttons-wrap.column
							.btn-wrap.btn-wrap--column.btn-wrap--blue
								button.btn.btn--blue To the constructor
							a(href="/").button-desc Create your own glasses
						.buttons-wrap.column
							.btn-wrap.btn-wrap--column.btn-wrap--blue
								button.btn.btn--blue  To the shop
							a(href="/").button-desc Choose one from the collection
	section.items-block
		.container
			.items-block-content
				.item-info-wrap
					.item-type-name
						h3.item-tag #TOP 20
					.item-row
						.item-tabs
							span.item-tabs-name(data-tab="1").active-tab Men 
							span.item-tabs-name(data-tab="2") Women 
						.item-total
							span.total-text 194
							span.total-text items
				.item-tab-content#tab-1(data-content="1").active
					.item-photo
						img.img-pres(src='/static/img/general/item-photo.png')
						.item-photo-decoration
					.items-wrap
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color")
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart							
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart			
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart
						.item.item-explore
							a(href='/').explore-collection-link explore the collection
				.item-tab-content#tab-2(data-content="2")
					.item-photo
						img.img-pres(src='/static/img/general/item-photo.png')
						.item-photo-decoration
					.items-wrap
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color")
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart							
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart			
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart
						.item.item-explore
							a(href='/').explore-collection-link explore the collection
	section.benefits-block.benefits-block--skyblue
		.decortion#first-decoration
		.container
			.benefit-section
				.benefit-info
					h3.benefit-heading.benefit-heading--pink Same lenses different frames
					p.benefit-text The same pair of prescription lenses can fit many frame styles and colors. Easily pop-out your lenses and insert them into a diffrent frame.
					.buttons-wrap.row
						.btn-wrap.btn-wrap--row.btn-wrap--pink
							button.btn.btn--pink  To the shop
						a(href="/").button-desc Explore more about creating Shakashawaii glasses
				.benefit-image
					img.bf-img(src='/static/img/general/bf-photo-1.png')
	section.benefits-block.benefits-block--turquoise
		.decortion#second-decoration
		.container
			.benefit-section
				.benefit-info
					h3.benefit-heading.benefit-heading--yellow New styles 
					p.benefit-text The same pair of prescription lenses can fit many frame styles and colors. Easily pop-out your lenses and insert them into a diffrent frame.
					.buttons-wrap.row
						.btn-wrap.btn-wrap--row.btn-wrap--yellow
							button.btn.btn--yellow  To the shop
						a(href="/").button-desc Explore more about creating Shakashawaii glasses
				.benefit-image
					img.bf-img(src='/static/img/general/bf-photo-1.png')
	section.benefits-block.benefits-block--creamy
		.decortion#third-decoration
		.container
			.benefit-section
				.benefit-info
					h3.benefit-heading.benefit-heading--blue HD Lenses
					p.benefit-text The same pair of prescription lenses can fit many frame styles and colors. Easily pop-out your lenses and insert them into a diffrent frame.
					.buttons-wrap.row
						.btn-wrap.btn-wrap--row.btn-wrap--blue
							button.btn.btn--blue Explore
						a(href="/").button-desc Explore more about creating Shakashawaii glasses
				.benefit-image
					img.bf-img(src='/static/img/general/bf-photo-1.png')
	section.constructor-block
		.container
			.main-block-content
				.compare-glass-slider
					.compare-slider-container
						.compare-image
							img.c-img(src="/static/img/general/comp-img-1.png")
						.compare-image.compare-image-overlay
							img.c-img(src="/static/img/general/comp-img-2.png")
				.content-wrap
					h3.constructor-heading Interchangeable parts
					p.text.text-constructor The same pair of prescription lenses can fit many frame styles and colors. Easily pop-out your lenses and insert them into a diffrent frame. 
					.buttons-wrap.row
						.btn-wrap.btn-wrap--row.btn-wrap--blue
							button.btn.btn--blue To the constructor
						a(href="/").button-desc Start creating your br own glasses right now
		.container
			.items-block-content
				.item-info-wrap
					.item-type-name
						h3.item-tag #SHAKA'S
					.item-row
						.item-tabs
							span.item-tabs-name(data-tab="1").active-tab Men 
							span.item-tabs-name(data-tab="2") Women 
						.item-total
							span.total-text 194
							span.total-text items
				.item-tab-content#tab-1(data-content="1").active
					.item-photo
						img.img-pres(src='/static/img/general/item-photo-2.png')
						.item-photo-decoration.item-photo-decoration-second
					.items-wrap
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color")
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart							
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart
						.item.item-explore
							a(href='/').explore-collection-link Design in the construction
						.item.item-explore
							a(href='/').explore-collection-link explore the collection	
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart			
				.item-tab-content#tab-2(data-content="2")
					.item-photo
						img.img-pres(src='/static/img/general/item-photo.png')
						.item-photo-decoration
					.items-wrap
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color")
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart							
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart				
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart			
						.item
							.item-top
								a(href='/').item-name Bruno - The Classic
								a(href='/').item-link-view View
							.item-image
								img.item-img(src='/static/img/content/item.png')
							.item-price.sales
								span.actual-price 150$ USD
								span.old-price 150$ USD
							.item-action
								.select-item-color
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red") 
									input#black.color-choice(type="radio" name="selected-color")
									label.color-pick.black(for="black")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
									input#red.color-choice(type="radio" name="selected-color" checked)
									label.color-pick.pink(for="red")
								.wrap-ad-to-chart
									a(href="/").btn-add-to-chart Add to cart
						.item.item-explore
							a(href='/').explore-collection-link explore the collection	
	section.instagram-block
		.container
			.insta-topic
				span.insta-name instagram
				a(href='/').insta-link shakas_hawaii
		.instagram-content
			.instagram-image
				img(src='/static/img/general/insta-ph-1.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-2.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-3.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-4.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-1.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-2.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-3.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
			.instagram-image
				img(src='/static/img/general/insta-ph-4.png').insta-img
				.insta-image-overlay
				.insta-icon-overlay
					a.insta-icon-link(href='/')
						+icon('ic-insta', 'insta-icon')
	include ../modules/footer
