extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.block.block-main
		include ../modules/header
		include ../modules/main-nav
		.block-main-content
			.district
				.district-image
					img.district-img(src="./static/img/general/gerb.png")
				h3.district-name МИНИСТЕРСТВО ЭКОНОМИЧЕСКОГО РАЗВИТИЯ СТАВРОПОЛЬСКОГО КРАЯ
			h1.block-main-title Господдержка
			h3.block-main-subtitle Микрозаймы для малого и среднего бизнеса на льготных условиях
			.offer-content
				.offer
					.offer-top
						span.offer-text до 
						span.offer-large 10
						span.offer-text годовых
					.offer-bottom
						span.offer-text-bottom Максимальная 
						span.offer-subtext-bottom  процентная ставка
				.offer
					.offer-top
						span.offer-text до 
						span.offer-large 3
						span.offer-text млн. руб
					.offer-bottom
						span.offer-text-bottom Максимальная 
						span.offer-subtext-bottom  сумма микрозайма
				.offer
					.offer-top
						span.offer-text до 
						span.offer-large 36
						span.offer-text месяцев
					.offer-bottom
						span.offer-text-bottom Максимальная 
						span.offer-subtext-bottom  строк микрозайма
			.btn-to-bottom
		.block.block-counter
			.counter-content-top
				span.counter-text-top Выдано:
				.counter-top
					span.counter-number-top.counter-number-top-single 3
					span.counter-number-top 500
				span.counter-text-top кредитов
			.counter-content-bottom
				span.counter-text-bottom на сумму
				.counter-bottom
					span.counter-number-bottom 3
					span.counter-number-bottom 000
					span.counter-number-bottom 000
					span.counter-number-bottom 000
				span.counter-text-bottom рублей
	.block.block-purpose
		h3.title.purpose-title НА КАКИЕ НУЖДЫ МОЖНО ПОЛУЧИТЬ микрозайм
		.purpose-content
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Организация бизнеса
			.purpose
				.purpose-image
					img(src="/static/img/general/money.png")
				p.purpose-desc Пополнение оборотных средств
			.purpose
				.purpose-image
					img(src="/static/img/general/property.png")
				p.purpose-desc Покупка коммерческой недвижимости, автотранспорта и спецтехники
			.purpose
				.purpose-image
					img(src="/static/img/general/equipment.png")
				p.purpose-desc Приобретение оборудования и материалов
			.purpose
				.purpose-image
					img(src="/static/img/general/finance-sh.png")
				p.purpose-desc Финансирование деятельности сельхозкооперативов
			.purpose
				.purpose-image
					img(src="/static/img/general/auction.png")
				p.purpose-desc Обеспечение заявки на участие в конкурсе (аукционе)
	.block.block-types
		h3.title.types-title Виды микрозайм
		.types-content
			.type
				.type-name Беззалоговый
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/arms.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
			.type
				.type-name МИКРО-Старт
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/type-start.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
			.type
				.type-name МИКРО-ОБОРОТ
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/micro-ob.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value  3 000 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
		.types-content
			.type
				.type-name МИКРО-Инвест
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/type-micro-inv.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value  3 000 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
			.type
				.type-name Сельхозкооперация
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/type-sh.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value  3 000 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
	.block.block-steps
			h3.title.steps-title Шаги получения микрозайма
			.steps-content
				.step
					.step-bg-number
						img(src="/static/img/general/steps-number-one.png")
					.step-image
						img(src="/static/img/general/steps-user.png")
					span.step-name Получить консультацию
					span.step-desc У наших специалистов
				.step
					.step-bg-number
						img(src="/static/img/general/steps-number-one.png")
					.step-image.step-image-second
						img(src="/static/img/general/steps-list.png")
					span.step-name Собрать и предоставить
					span.step-desc полный пакет документов
				.step
					.step-bg-number
						img(src="/static/img/general/steps-number-one.png")
					.step-image
						img(src="/static/img/general/steps-three.png")
					span.step-name Расмотрение заявки 
					span.step-desc Подготовка Фондом экспертного заключения
				.step
					.step-bg-number
						img(src="/static/img/general/steps-number-one.png")
					.step-image.step-image-last
						img(src="/static/img/general/steps-give.png")
					span.step-name Видача микрозайма
					span.step-desc Заключение догвора и получение микрозайма
	.block.block-documents
		h3.title.documents-title Документы и правила предоставления микрозайма
		button.btn.btn-get-rules Правила предоставления микрозаймов
		.documnets-content
			.document
				.documnet-img
					img(src="/static/img/general/pdf.png")
				span.document-name ИП, ИП Глава к(Ф)Х
			.document
				.documnet-img
					img(src="/static/img/general/word.png")
				span.document-name ИП, ИП Глава к(Ф)Х
			.document
				.documnet-img
					img(src="/static/img/general/word.png")
				span.document-name ИП, ИП Глава к(Ф)Х
		button.btn.btn-apply Подать предварительную заявку
	.block.block-useful
		h3.title.documents-title Полезные ссылки
		.useful-content
			.useful-link-main
				a(href="/")
					img.useful-img(src="/static/img/general/ul-1.png")
			.useful-link-main
				a(href="/")
					img.useful-img(src="/static/img/general/ul-2.png")
		.useful-content.useful-content-secondary
			.useful-link-secondary
				a(href="/")
					img.useful-img(src="/static/img/general/ul-s-3.png")
			.useful-link-secondary
				a(href="/")
					img.useful-img(src="/static/img/general/ul-s-2.png")
			.useful-link-secondary
				a(href="/")
					img.useful-img(src="/static/img/general/ul-s-1.png")
		button.btn.btn-get-rules Показать все полезные ссылки
	.block.block-map
		#map
