extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.block.block-main
		include ../modules/header
		include ../modules/main-nav
		.block-main-content
			.district
				.district-image
					img.district-img(src="./static/img/general/gerb.png")
				h3.district-name МИНИСТЕРСТВО ЭКОНОМИЧЕСКОГО РАЗВИТИЯ СТАВРОПОЛЬСКОГО КРАЯ
			h1.block-main-title Господдержка
			h3.block-main-subtitle Микрозаймы для малого и среднего бизнеса на льготных условиях
			.offer-content
				.offer
					.offer-top
						span.offer-text до 
						span.offer-large 10
						span.offer-text годовых
					.offer-bottom
						span.offer-text-bottom Максимальная 
						span.offer-subtext-bottom  процентная ставка
				.offer
					.offer-top
						span.offer-text до 
						span.offer-large 3
						span.offer-text млн. руб
					.offer-bottom
						span.offer-text-bottom Максимальная 
						span.offer-subtext-bottom  сумма микрозайма
				.offer
					.offer-top
						span.offer-text до 
						span.offer-large 36
						span.offer-text месяцев
					.offer-bottom
						span.offer-text-bottom Максимальная 
						span.offer-subtext-bottom  строк микрозайма
			.btn-to-bottom
		.block.block-counter
			.counter-content-top
				span.counter-text-top Выдано:
				.counter-top
					span.counter-number-top.counter-number-top-single 3
					span.counter-number-top 500
				span.counter-text-top кредитов
			.counter-content-bottom
				span.counter-text-bottom на сумму
				.counter-bottom
					span.counter-number-bottom 3
					span.counter-number-bottom 000
					span.counter-number-bottom 000
					span.counter-number-bottom 000
				span.counter-text-bottom рублей
	.block.block-purpose
		h3.title.purpose-title НА КАКИЕ НУЖДЫ МОЖНО ПОЛУЧИТЬ микрозайм
		.purpose-content
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Организация бизнеса
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Пополнение оборотных средств
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Покупка коммерческой недвижимости, автотранспорта и спецтехники
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Приобретение оборудования и материалов
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Финансирование деятельности сельхозкооперативов
			.purpose
				.purpose-image
					img(src="/static/img/general/users.png")
				p.purpose-desc Обеспечение заявки на участие в конкурсе (аукционе)
	.block.block-types
		h3.title.types-title Виды микрозайм
		.types-content
			.type
				.type-name Беззалоговый
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/arms.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
			.type
				.type-name Беззалоговый
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/arms.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
			.type
				.type-name Беззалоговый
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/arms.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
		.types-content
			.type
				.type-name Беззалоговый
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/arms.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
			.type
				.type-name Беззалоговый
				.type-info
					.type-icon
						img.type-img(src="/static/img/general/arms.png")
					.type-info-text
						span.type-to Сумма до:
						span.type-value 150 000 руб.
					.type-info-text
						span.type-to Срок до:
						span.type-value 18 мес.
		
