.btn-version
  color: whiteColor
  background: transparent
  border-radius: 25px
  border: 1px solid whiteColor
  padding: 15px 40px 15px 30px
  font-family: PTSansFont
  font-size: rem(14px)
  margin-left: 30px
  text-align center


.btn-to-bottom
  width: 36px
  height: 70px
  background: url('/static/img/general/scroll-arrow.png') no-repeat center
  background-size: cover
  margin-bottom: 30px
  &:hover
    cursor: pointer
