@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular.ttf')  format('truetype'), url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



Main-Title-Style()
  font-family: oswaldFont
  font-size: rem(72px)
  font-weight: 500
  text-transform: uppercase
  font-weight: 700

Link-Text-Style()
  font-family: montserratFont
  font-size: rem(14px)
  color: main-black
  text-transform: uppercase
  font-weight: 700

Simple-Text-Style()
  font-family: montserratFont
  font-size: rem(18px)

Heading-Text-Style()
  font-family: oswaldFont
  font-size: rem(42px)
  font-weight: 700
  text-transform: uppercase
  color: #062736
  
Description-Text-Style()
  font-family: montserratFont
  font-size: rem(14px)
  color: #8f8f91
