// ЦВЕТА
white = #ffffff
black = #000000
main-black = #2f2f32
skyblue = #81d7ff
light-black = #79797b
pink = #ffaec7
skyblue-two = #a9e6ff
seacolor = #a7fadc
yellow = #ffee32
skyblue-three = #baebff
blue =   #16b0dc


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
montserratFont = 'Montserrat-Regular'
oswaldFont = 'Oswald-Regular'
