// ЦВЕТА
whiteColor = #ffffff
gradientColor = #001b2f
dark-blue = #004a80
orange = #faa61a
dark-grey = #414e59
dark-blue-two = #152633
black-two = #231f20
skyblue = #e4f1fc
blue = #0071bc
light-blue = #6dcff6
blue-two = #7194b0
navy-blue = #0d3452
navy-blue-two = #3f586b
// РАЗМЕРЫ
baseFontSize = 18px


// ШРИФТЫ

CuprumFont = 'Cuprum-Regular'
PTSansFont = 'PTSans-Regular'
HelveticaNeue = 'HelveticaNeue-Bold'
