.glass-constructor
  display: flex;
  width: 100%
  align-items: center;
  justify-content: center;
  margin-top: 20px
  border-top: 1px solid #e4e4e4
  border-bottom: 1px solid #e4e4e4

.glass-constructor-content
  display: flex;
  width: 100%

.glass-type
  width: 25%
  padding: 20px 0
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 11
  cursor: pointer;
  &:hover
    z-index: 0
  &:hover .glass-type--active
    transform: translate(0%, 0%);
    transition: 0.5s ease-in-out
    opacity: 1

.glass-type-name
  margin-top: 5px
  text-transform: capitalize;
  color: #8b8b8c


.glass-type--active
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%
  height: 100%
  position: absolute;
  width: 100%
  left: 0;
  top: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transform: scale(1);
  transition: 0.5s ease-in-out
  z-index: 11

.glass-type--active.blue
  &:hover
    background: skyblue

.glass-type--active.green
  &:hover
    background: #88d693

.glass-type--active.dark-orange
  &:hover
    background: #f2c08a

.glass-type-text
  text-align: center
  color: white
  z-index: 11
