footer
  display: flex;
  justify-content: center;
  background: skyblue-three
  align-items: center;
  flex-direction: column;
.footer-content
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 50px
  padding-bottom: 65px

.nav-footer
  flex-direction: column
  justify-content: initial;
.nav-li-footer
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0
.nav-link-footer
  font-size: 0.777777777777778rem;
  color: #2f2f32;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  transition-animation()
  &:before, &:after
    display: inline-block;
    content: ''
    position: absolute;
    top: 50%
    transform translate(0%,-50%)
    right: -10px
    opacity: 1
    width: 4px
    height: 4px
    border-radius: 50px
    position: absolute;
    background: main-black
    transition-animation()
    opacity: 0
  &:hover
    text-decoration: underline;
    transition-animation()
  &:hover:before,
  &:hover:after
    opacity: 1
    transition-animation()

.nav-link-footer
  &:before
    left: -10px


.socials
  margin-top: 35px

.social-wrap
  display: flex;
  margin-top: 15px

.socials-heading
  font-size: 14px
  color: #5e717b
  margin-top: 35px

.social-link
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px
  height: 40px
  border-radius: 50px
  border: 2px solid main-black
  transition-animation()
  background: inherit
  margin-right: 20px
  &:last-child
    margin-right: 0
  &:hover
    border 2px solid pink
    background: white
    transition-animation()

.social-link-icon
  width: 14px
  height: 14px

.newsletter-content
  display: flex;
  flex-direction: column;

.newsletter-heading
  font-size: 14px
  color: #5e717b
  margin-bottom: 20px

.newsletter-input
  max-width: 310px
  width: 310px
  padding: 15px 20px
  background: inherit
  border: 2px solid #7c9aa7
  transition-animation()
  margin-bottom: 15px
  &:hover
    cursor: pointer;
    border: 2px solid main-black
    transition-animation()
  &:focus
    border: 2px solid main-black
    transition-animation()
  &hover::-webkit-input-placeholder
    color: main-black

.footer-content-bottom
  width: 100%
  display: flex;
  justify-content: center;
  padding: 15px 0
  border-top: 1px solid #9cc4d5


.copyright
  font-size: 14px
  color: #828284

.language-select
  margin-right: 35px;
  position: relative;
  display: flex;
  align-items: baseline;
  cursor: pointer;

.custom-option-current
  display: flex;
  align-items: center;

.custom-option-select
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 5px
  cursor: pointer;

.arrow-lang
  width: 10px
  height: 10px
  margin-left: 5px
  background: url('/static/img/general/arrow-top.png') no-repeat center
  transition-animation()


.language
  color: #828284
  font-size: 14px

.language-picked
  color: #2a2e32
  font-size: 14px

.closed
  display: none


.open
  animation: fadeEffect 0.5s

.flag-usd
  display: flex;
  width: 20px
  height: 10px
  content: ''
  background: url('/static/img/general/usa.png') no-repeat center
  margin-right: 5px

.custom-select
  padding-top: 10px
  position: absolute;
  width: 115px
  height: 105px
  border: 2px solid pink
  background: white
  top: -105px
  left: -40%
  overflow-y: scroll;
  ::-webkit-scrollbar
    display: none;

.custom-select::-webkit-scrollbar {
  display: none;
}

.flag-eng
  display: flex;
  width: 20px
  height: 10px
  content: ''
  background: url('/static/img/general/aus.png') no-repeat center
  margin-right: 5px
